html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color:#253861
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #bdbdbd;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}


.title-main-h2 {
  font-size: 32px;
  font-weight: 800;
  color: #232d4b;
}

@media (max-width: 767px) {
  h2, 
  .title-main-h2 {
    font-size: 22px;
  }
}

p {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.mfp-bg {
  z-index: 1051;
}
.mfp-wrap {
  z-index: 1052;
}

.tooltip {
  font-size: 13px;
}


.tooltip-inner {
  background-color: $main-color;
  color: #fff;
  text-align: inherit;
  max-width: 300px !important;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgb(0, 0, 0 / 15%);
  padding: 15px;
  font-size: 14px;
}

.bs-tooltip-top .arrow::before {
  border-top-color: $main-color;
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: $main-color;
}

.bs-tooltip-left .arrow::before {
  border-left-color: $main-color;
}

.bs-tooltip-right .arrow::before {
  border-right-color: $main-color;
}


// Breadcrumbs
.breadcrumbs {
  padding: 15px 0;
}

.breadcrumbs>:not(:last-child):after {
  content: "/";
  color: #b7b7b7;
  margin-left: .3125rem;
  margin-right: .3125rem;
}
// Breadcrumbs

@media (max-width: 767px) {
  .particles-js-canvas-el {
    display: none;
  }
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}